body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  font-size: 15px;
  
  color: #333;
  overflow-y: scroll;
}

body.loading {
  overflow-y: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
}
.section-m1{
  margin: 60px 0;
}

/*Container*/
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/*Header*/
.header {
  width: 100%;

  padding: 5px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0,0.06);
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:1000;
  transition: transform .2s linear;
  
}

.header.hide {
  transform: translateY(-60px);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.header__logo {
  
  
  font-size:45px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
}

/*Nav*/
.nav{
  margin-left: 150px;
  flex-grow: 1;
  font-size: 18px;
  text-transform: uppercase;
  font-weight:520;
  display: flex;
  position: relative;
  align-items: center;

}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;
  margin-left: 25px;
  color: #6cb8ff;
  text-decoration: none;
  display: flex;
  transition: color .2s linear;
  
}

.nav__link:after {
content: "";
display: block;
width:100%;
height: 3px;

background-color: #1D4E6F;
opacity: 0;

position: absolute;
top: 100%;
left: 0;
z-index: 1;

transition: opacity .1s linear;

}

.nav__link:hover {
color: #1D4E6F;
}

.nav__link:hover:after {
  opacity: 1;

}
.nav a.active{
color: #13354b;

}
.contact {
  color: #13354b;
  text-decoration: none;
  margin-left: auto;
}
.nav a.active{
  color: #fb8500;

}

.box {
  /* Existing styles */
  display: inline-block;
  width: 40%;
  height: 33vh;
  box-sizing: border-box;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 33vh; /* Center text vertically */
  margin: 20px 13px; /* Center horizontally with auto margins */
  border-radius: 10px;
  transition: transform 0.3s ease;
  text-decoration: none;
  color: #ffffff;
  overflow: hidden; /* Hide overflowing content */
}

.box:hover {
  transform: scale(1.05); /* Scale the box on hover */
}

.boxes {
  margin-top: 100px;
  text-align: center; /* Center the boxes container horizontally */
}
.image-box {
  background-image: url('26bce6373cf760d741e751aa7970a9df.jpg'); /* Replace 'your-image-url.jpg' with your image URL */
  background-size: cover;
  background-position: center;
  opacity: 0.75;
}
.image-box2 {
  background-image: url('heat-pumps.jpg'); /* Replace 'your-image-url.jpg' with your image URL */
  background-size: cover;
  background-position: center;
  opacity: 0.75;
}
.image-box3{
  background-image: url('4348a2b3636c9f4c401b302c82d06620.jpg'); /* Replace 'your-image-url.jpg' with your image URL */
  background-size: cover;
  background-position: center;
  opacity: 0.75;
  
}

.image-box4{
  background-image: url('2b952d29ee792a61c9ab1abb8037a716.jpg'); /* Replace 'your-image-url.jpg' with your image URL */
  background-size: cover;
  background-position: center;
  opacity: 0.75;
  
}

.footer {
  background-color: #34495e;
  padding: 50px 0;
  margin-top: 50px;
  color: #ffffff;
}

.footer__inner {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer__logo img {
  width: 100px; /* Adjust logo size as needed */
}

.footer__info h3{
  font-size: 20px;
  margin-bottom: 15px;
}
.footer__social h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer__info p {
  margin: 5px 0;
}

.footer__social ul {
  list-style: none;
  padding: 0;
  display: flex; /* Display list items horizontally */
}

.footer__social li {
  margin-right: 10px; /* Adjust spacing between social media icons */
  margin-left: 5px;
  margin-top: 10px;
}


.footer__social li a {
  color: #ffffff;
  text-decoration: none;
}

.footer__social li a:hover {
  text-decoration: underline;
}
.footer__social img {
  width: 20px; /* Adjust the size of social media logos */
}

.banner {
  position: relative;
  background-image: url('GettyImages-1058428720-5c8a5b02c9e77c0001423061.jpg');
  background-size: cover;
  background-position: center;
  height: 380px; /* Adjust height as needed */
  text-align: center;
  color: #ffffff;
}
.banner2 {
  position: relative;
  background-image: url('WhatsApp Image 2024-03-28 at 09.29.41 (1).jpeg');
  background-size: cover;
  background-position: center;
  height: 380px; /* Adjust height as needed */
  text-align: center;
  color: #ffffff;
}
.banner3 {
  position: relative;
  background-image: url('GettyImages-1058428720-5c8a5b02c9e77c0001423061.jpg');
  background-size: cover;
  background-position: center;
  height: 380px; /* Adjust height as needed */
  text-align: center;
  color: #ffffff;
}
.banner4 {
  position: relative;
  background-image: url('heat-pumps.jpg');
  background-size: cover;
  background-position: center;
  height: 380px; /* Adjust height as needed */
  text-align: center;
  color: #ffffff;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
}

.banner__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner__content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.banner__content p {
  font-size: 18px;
  margin: 0;
}

.company-logos {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 80px;
}

.company-logo {
  width: 160px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  background-color: #fffff; /* Background color of the rectangle */
  border-radius: 10px; /* Rounded corners */
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-logo img {
  max-width: 100%;
  max-height: 100%;
}

/* Enhanced Contact CSS */
.contact-section {
  background: #f9f9f9;
  padding: 40px;
  text-align: center;
 
}

.contact-section h1 {
  color: #333;
  margin-bottom: 20px;
}

.contact-section p {
  margin-bottom: 30px;
  margin-top: 50px;
  color: #666;
}

.contact-info {
  font-size: 18px;
  margin-bottom: 20px;
  
}
.contact-info img{
  margin-top: 5px;
}
.contact-info h1{
  margin-top: 10px;
}

.contact-info address {
  margin-bottom: 20px;
  line-height: 1.6;
}
.contact-info a {
  text-decoration: none;
}

.whatsapp-chat-link img {
  width: 100px; /* Adjust as needed */
  transition: transform 0.3s ease;
}

.whatsapp-chat-link:hover img {
  transform: scale(1.1);
}




.workingW{
  margin-top: 30px;
  text-align: center;



}
.header__logo img{
  width: 60px;
  margin-right: 10px  ;
  margin-top: 10px;
  
}
.whatsapp-chat {
  text-align: left; /* Выравнивание по левому краю */
}

.whatsapp-chat img {
  width: 100px;
  text-decoration: none;
  
  display: block; /* Делает элемент блочным для правильного выравнивания */
  margin-left: auto; /* Автоматический отступ слева для выравнивания по центру, если нужно */
  margin-right: 100px; /* Автоматический отступ справа для выравнивания по центру, если нужно */
}

.foto_content img{
  width: 420px;
  height: 300px;
}
.foto_content{
  
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 80px;
  
}
.foto{
  margin-right: 20px;
  margin-left:20px;
}

.whatsapp-blinking-logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  animation: blink-animation 1.5s steps(5, start) infinite;
  -webkit-animation: blink-animation 1.5  s steps(5, start) infinite;
}

.whatsapp-blinking-logo img {
  width: 80px; /* Adjusted size */
  height: auto; /* Aspect ratio maintenance */
}

.cookie-consent-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #e2e2f4; /* Light blue background for contrast */
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif; /* Ensures font consistency */
    box-shadow: 0 -4px 8px rgba(0,0,0,0.1); /* Adds subtle shadow for depth */
    z-index: 1000; /* Ensures visibility above other elements */
}

.cookie-image {
    width: 50px;
    margin-bottom: 10px;
}

.cookie-buttons button {
    font-family: 'Montserrat', sans-serif; /* Consistent font */
    margin: 10px;
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth background transition on hover */
}

/* Specific styles for different buttons for better UX */
.cookie-buttons button[onclick*="mandatory"] {
    background-color: #4CAF50; /* Green for confirmation actions */
}

.cookie-buttons button[onclick*="all"] {
    background-color: #008CBA; /* Blue for a neutral option */
}

.cookie-buttons button[onclick*="reject"] {
    background-color: #f44336; /* Red to indicate a negative option */
}

/* Hover effects for buttons */
.cookie-buttons button:hover {
    opacity: 0.9; /* Slight opacity change on hover */
}


@keyframes blink-animation {
  to {
      visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
      visibility: hidden;
  }
}
