/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 15px;
  
}

header {
  background-color: #ffffff;
  color: #00E0FF;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo img {
  max-width: 100%; /* Ensures the logo scales within its container */
  height: auto; /* Keeps the logo's aspect ratio */
  background-color: transparent; /* Makes the logo's background transparent */
  /* Add more styling as needed */
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li a {
  color: #00E0FF;
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.service {
  width: 300px;
  margin-bottom: 20px;
}

.service-box {
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.service-box:hover {
  transform: scale(1.05);
}

footer {
  background-color: #34495e;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}
